<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/style/index.css">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/temas.css">
    <link rel="stylesheet" href="/static/style/footer.css">

    <script type="module" defer="" src="/static/js/index.js"></script>

    <title>Document</title>
</head>
<body class="ligth">
    <!--
        Tá cuidando o que 🤨.
    -->
    {% include "components/header.html" %}
    <main>
        
        <div class="pesquisa">
            <input id="pesquisa" type="text" placeholder="pesquisar">
        </div>

        <div class="res">
            <div class="produtos">
                {% include "components/produto.html" %}
            </div>
        </div>
    
    </main>

    {% include "components/footer.html" %}

</body>
</html>