<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href=" {{ url_for('static', filename='style/index.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='style/header.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='style/temas.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='style/footer.css') }} ">
    
    <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>

    <title>Document</title>
</head>
<body class="ligth">
    <!--
        Tá cuidando o que 🤨.
    -->
    {% include "header.html" %}
    
    <main>
        
        <div class="pesquisa">
            <input id="pesquisa" type="text" placeholder="pesquisar">
        </div>

        <div class="res">
            <div class="produtos">
                {% include "produto.html" %}
            </div>
        </div>
    
    </main>

    {% include "footer.html" %}

</body>
</html>